<div class="item-details">
    <div class="page-banner">
        <div class="heading">
            Auction Details
        </div>
        <div class="sub-head">
            <div class="left">Home</div>
            <fa-icon [icon]="faArrow"></fa-icon>
            <div class="right">Auction Details</div>
        </div>
    </div>

    <div class="item-info">
        <div class="left">
            <img [src]="item.image" alt="Auction Item">
        </div>
        <div class="right">
            <span class="live-badge" *ngIf="item.isLive"> <fa-icon [icon]="faG"></fa-icon>LIVE</span>
            <h3 class="title">{{item.title}}</h3>
            <p class="desc">{{item.desc}}</p>
            <div class="bid-price">
                <p>Current bid at:</p>
                <strong>${{item.currentBid | number:'1.0-0'}} </strong>
            </div>
            <div class="countdown-text">
                <div class="text">
                    Auction will <a *ngIf="item.upcoming">Start</a> <a *ngIf="item.isLive">End</a> in:
                </div>
                <div class="countdown-container" *ngIf="item.startDate as startDate">
                    <div class="countdown-values">
                      <div class="time">
                      <span class="value">{{ getCountdownParts(startDate).days }}</span>
                      <span>Days</span>
                      </div>
                      <span>:</span>
                      <div class="time">
                        <span class="value">{{ getCountdownParts(startDate).hours }}</span>
                        <span>Hour</span>
                      </div>
                      <span>:</span>
                      <div class="time">
                        <span class="value">{{ getCountdownParts(startDate).minutes }}</span>
                        <span>Min</span>
                      </div>
                      <span>:</span> 
                      <div class="time">
                        <span class="value">{{ getCountdownParts(startDate).seconds }}</span>
                        <span>sec</span>
                      </div>
                    </div>
                </div>
            </div>
            <div class="user-bid">
                <div class="text">
                    your Bid :
                </div>
                <div class="bid-container" [class.disabled]="!item.isLive">
                    <input type="text" [(ngModel)]="bidValue" class="bid-value" />
                    <fa-icon [icon]="faPlus" (click)="incBid()"></fa-icon>
                    <button class="button">Place Bid</button>
                </div>
                <div class="support-text">
                    <div class="support"><fa-icon [icon]="faPhone"></fa-icon> Contact Support</div>
                    <div class="wishList" *ngIf="item.upcoming"><fa-icon [icon]="faHeart"></fa-icon> Add to wishlist</div>
                </div>
            </div>
        </div>
    </div>
</div>