<div class="about-us-page">
    <div class="page-banner">
        <div class="heading">
            Aboutus
        </div>
        <div class="sub-head">
            <div class="left">Home</div>
            <fa-icon [icon]="faArrow"></fa-icon>
            <div class="right">Auction Grid</div>
        </div>
    </div>
    <div class="about-us">
        <div class="left">
            <div class="about-tittle">
                Who We <p>Are</p>
            </div>
            <div class="about-desc">
                Cras cursus faucibus enim id porta. Curabitur et feugiat tortor. Duis ut egestas lib. Aenean id lacin est. Mauris urn purus, docni aliquet id elit id, tempus suscipit dui. Phasellus dictum sem sed ipsum posuer, eget tristique turpis ten. Sed sodales pur ide ex imperdiet of this year we are free offer that your type.
            </div>
            <div class="about-list">
                <div class="list-left">
                    <fa-icon [icon]="faCheck"></fa-icon>
                </div>
                <div class="list-right">
                    <div class="list-tittle">
                        Our Expert Solutions
                    </div>
                    <div class="list-desc">
                        Praesent gravida nunc at tortor cursus, molestie dapibus purus posuere. Vestibulum commodo, massa eget rutrum feugiat
                    </div>
                </div>
            </div>
            <div class="about-list">
                <div class="list-left">
                    <fa-icon [icon]="faCheck"></fa-icon>
                </div>
                <div class="list-right">
                    <div class="list-tittle">
                        Trusted Performance
                    </div>
                    <div class="list-desc">
                        Praesent gravida nunc at tortor cursus, molestie dapibus purus posuere. Vestibulum commodo, massa eget rutrum feugiat
                    </div>
                </div>
            </div>
            <div class="about-list">
                <div class="list-left">
                    <fa-icon [icon]="faCheck"></fa-icon>
                </div>
                <div class="list-right">
                    <div class="list-tittle">
                        Experience the Difference
                    </div>
                    <div class="list-desc">
                        Praesent gravida nunc at tortor cursus, molestie dapibus purus posuere. Vestibulum commodo, massa eget rutrum feugiat
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="assets/images/about-banner.png" alt="product-photo">
        </div>
    </div>
    <div class="about-us">
        <div class="right">
            <img src="assets/images/about-us-law.jpg" alt="product-photo">
        </div>
        <div class="left">
            <div class="about-tittle">
                Get in <p>Know</p>
            </div>
            <div class="about-desc">
                Welcome to Zenfy, where digital innovation meets strategic excellence. As a dynamic force in the realm of digital marketing, we are dedicated to propelling businesses into the spotlight of online success with us for this example .
            </div>
            <div class="check-list-grid">
                <div class="check-list">
                    <div class="checked">
                        <fa-icon [icon]="faCC"></fa-icon>
                        <p>Ready to boost your online presence</p>
                    </div>
                </div>
                <div class="check-list">
                    <div class="checked">
                        <fa-icon [icon]="faCC"></fa-icon>
                        <p>Ready to boost your online presence</p>
                    </div>
                </div>
                <div class="check-list">
                    <div class="checked">
                        <fa-icon [icon]="faCC"></fa-icon>
                        <p>Ready to boost your online presence</p>
                    </div>
                </div>
                <div class="check-list">
                    <div class="checked">
                        <fa-icon [icon]="faCC"></fa-icon>
                        <p>Ready to boost your online presence</p>
                    </div>
                </div>
            </div>
            <div class="stats">
                <div class="stats-container">
                    <div class="stat-item">
                      <fa-icon [icon]="faFaceSmile" class="stat-icon"></fa-icon>
                      <div class="stat-content">
                        <h2><strong>3.5k</strong> Customer</h2>
                        <p>Total Customer</p>
                      </div>
                    </div>
                  
                    <div class="stat-item">
                      <fa-icon [icon]="faBox" class="stat-icon"></fa-icon>
                      <div class="stat-content">
                        <h2><strong>700</strong> Auction</h2>
                        <p>Total Product</p>
                      </div>
                    </div>
                  
                    <div class="stat-item">
                      <fa-icon [icon]="faG" class="stat-icon"></fa-icon>
                      <div class="stat-content">
                        <h2><strong>5.6k</strong> Bidder</h2>
                        <p>Number Of Total Bidder</p>
                      </div>
                    </div>
                  </div>
                  
            </div>
        </div>
    </div>
    <div class="slider-block process bg-pink">
        <div class="auction-header">
            <div class="title">
              <h2>How it works</h2>
                <p>Feel free adapt this based on the specific managed services, features</p>
            </div>
          </div>
          <div class="process-card">
            <div class="reg">
                <div class="card-btn">
                    step-1
                </div>
                <hr>
                <div class="card-detail">
                    <div class="tittle">
                        Registration
                    </div>
                    <div class="desc">
                        Cras cursus faucibus enim id porta. Curab aenean id lacin estearn.
                    </div>
                    <div class="points">
                        <ol class="custom-list">
                            <li> Search Your Auction</li>
                            <li> Find The Right Product</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="select">
                <div class="card-btn">
                    step-2
                </div>
                <hr>
                <div class="card-detail">
                    <div class="tittle">
                        Select Product
                    </div>
                    <div class="desc">
                        Cras cursus faucibus enim id porta. Curab aenean id lacin estearn.
                    </div>
                    <div class="points">
                        <ol class="custom-list">
                            <li> Search Your Auction</li>
                            <li> Find The Right Product</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="payment">
                <div class="card-btn">
                    step-3
                </div>
                <hr>
                <div class="card-detail">
                    <div class="tittle">
                        Go to Biding
                    </div>
                    <div class="desc">
                        Cras cursus faucibus enim id porta. Curab aenean id lacin estearn.
                    </div>
                    <div class="points">
                        <ol class="custom-list">
                            <li> Search Your Auction</li>
                            <li> Find The Right Product</li>
                        </ol>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>