<div class="auction-card" (click)="redirectToCard()">
  <div class="image-container">
    <img src="assets/images/product.png" alt="Auction Item" />
    <span class="live-badge" *ngIf="item.status == 'live'">
      <fa-icon [icon]="faG"></fa-icon>LIVE</span
    >
    <span class="upcoming" *ngIf="item.status == 'upcoming'">
      <fa-icon [icon]="faB"></fa-icon>UPCOMING</span
    >
    <span class="closed" *ngIf="item.status == 'closed'">
      <fa-icon [icon]="faB"></fa-icon>CLOSED</span
    >
    <div class="timer">
      <div
        class="countdown-container"
        *ngIf="item.startDateTime as startDateTime"
      >
      <div class="countdown-container" *ngIf="item.startDateTime as startDateTime">
        <app-countdown [endDateTime]="startDateTime"></app-countdown>
      </div>
      </div>
    </div>
  </div>
  <div class="card-content">
    <h3>{{ item.name }}</h3>
    <div class="bid-section">
      <div class="bid-price">
        <p>Current Bid at:</p>
        <strong>₹{{ item.currentBidPrice | number : "1.0-0" }}</strong>
      </div>
      <button class="card-btn" *ngIf="item.status == 'live'">Bid Now</button>
      <button class="card-btn" *ngIf="item.status == 'upcoming'">
        Notify Me
      </button>
    </div>
  </div>
</div>
