<footer class="footer">
    <div class="footer-container">
      <!-- Left Section -->
      <div class="footer-section">
        <h3>Category</h3>
        <ul>
          <li>Comics</li>
          <li>History</li>
          <li>Biography</li>
          <li>Philosophy</li>
          <li>Horror</li>
          <li>Children's</li>
          <li>Literature</li>
        </ul>
      </div>
  
      <!-- Middle Section -->
      <div class="footer-section">
        <h3>Company</h3>
        <ul>
          <li>How to bid with us</li>
          <li>How to sell with us</li>
          <li>About us</li>
          <li>F.A.Q</li>
          <li>Our Brand</li>
        </ul>
      </div>
  
      <!-- Logo and Social -->
      <div class="footer-center">
        <img src="assets/images/logo-white.svg" alt="">
        <h4>Social Just You Connected Us!</h4>
        <div class="social-icons">
            <img src="assets/images/facebook.svg" alt="">
            <img src="assets/images/instagram.svg" alt="">
            <img src="assets/images/linkedin.svg" alt="">
            <img src="assets/images/x.svg" alt="">
          </div>
          
        <div class="footer-section">
            <h4>Secured Payment Gateways</h4>
            <div class="payment-icons">
              <img src="assets/images/upi.png" alt="Visa">
            </div>
          </div>
      </div>
    </div>
  
    <!-- Bottom Section -->
    <div class="footer-bottom">
      <p>©Copyright 2024 <b>Probid</b> | Design By Yash Sakhla and Satyam Banwale Individually</p>
      <div class="footer-links">
        <span>Support Center</span>
        <span>Terms & Conditions</span>
        <span>Privacy Policy</span>
      </div>
    </div>
  </footer>
  