@import 'helpers/mixins';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/assets/images/page-banner.png'),linear-gradient(rgb(215, 201, 254), rgb(215, 201, 254)) no-repeat center center/cover;
  }
  
  .auth-box {
    background: #f1f1f15e;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 350px;
    text-align: center;
  }
  
  .toggle-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .toggle-buttons button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
  }
  
  .toggle-buttons button.active {
    font-weight: bold;
    border-bottom: 2px solid #007bff;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: transparent;
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: $secondary-color;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }