$primary-color: #fff;
$secondary-color: #2453d4;

$background-color1: #ffffff;
$background-color2: #2453d4;

$primary-font-family: "MontesserratRegular", sans-serif;
$primary-font-size: 82.5%;
$primary-font-size-value: 0.9;