@import "helpers/mixins";

.auction-main {
  padding: 5rem 8rem;
  .header {
    @include flex-container(center, space-between);
    .header-left {
      @include font(1.1, #868686, DMSansRegular);
    }
    .header-right {
      @include font(1.2, #000, DMSansRegular);
      @include flex-container(center, center);
      gap: 1rem;
      .dropdown {
        position: relative;
      }
      button {
        background-color: transparent;
        color: #000;
        border: 0.5px solid #000;
        padding: 0.5rem 1rem;
        @include font(1, #000, DMSansRegular);
        border-radius: 2rem;
        cursor: pointer;
        @include flex-container(center, center);
        gap: 4rem;
      }

      .dropdown-menu {
        position: absolute;
        z-index: 1;
        top: 40px;
        left: 0;
        background: white;
        list-style: none;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        @include font(1, #000, DMSansRegular);
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
      }

      .dropdown-menu.animate-dropdown {
        opacity: 1;
        transform: translateY(0);
      }

      .dropdown-menu li {
        padding: 5px 10px;
      }

      .dropdown-menu li:hover {
        background: #f0f0f0;
      }
    }
  }
  .auction-grid {
    .gird {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      padding: 2rem 0;
    }
  }
}

@media (max-width: 768px) {
  .auction-main{
    padding: 1rem;

    .header{
      .header-left{
        font-size: 1rem;
      }
      .header-right{
        flex-direction: column;
        align-items: end;
        font-size: 1rem;
        button{
          font-size: 0.9rem;
          gap: 1rem;
          padding: 0.2rem 0.5rem;
        }
      }
    }

    .auction-grid{
      .gird{
        grid-template-columns: repeat(1,1fr);
      }
    }
  }
}
